*.o
*.d
*~
*User.c
*Server.c
*_U.h
*_S.h
*.prof_d
*.so.*
*.so
*.a
*.sdefsi
Makefile.inc
*.cpy

dde26_test/dde26_test
auth/auth
boot/boot
console-client/console
console/console
daemons/console-run
daemons/getty
daemons/mail.local
daemons/runttys
devnode/devnode
eth-multiplexer/eth-multiplexer
ext2fs/ext2fs
ext2fs/ext2fs.static
init/init
pfinet/pfinet
proc/proc
proc_proxy/proc_proxy
term/term
trans/crash
trans/fakeroot
trans/fifo
trans/firmlink
trans/fwd
trans/hello
trans/hello-mt
trans/ifsock
trans/magic
trans/new-fifo
trans/null
trans/password
trans/proxy-defpager
trans/streamio
trans/symlink
utils/addauth
utils/devprobe
utils/fakeauth
utils/fsysopts
utils/ftpcp
utils/ftpdir
utils/gcore
utils/ids
utils/login
utils/mount
utils/msgport
utils/next
utils/portinfo
utils/ps
utils/rmauth
utils/rpctrace
utils/rpctrace-backup.c
utils/rpctrace-mach-crash.c
utils/setauth
utils/settrans
utils/shd
utils/showtrans
utils/storecat
utils/storeinfo
utils/storeread
utils/syncfs
utils/tmp
utils/unsu
utils/vminfo
utils/vmstat
utils/w

core
test

.svn
