Source: hurd
Section: base
Priority: required
Maintainer: GNU Hurd Maintainers <debian-hurd@lists.debian.org>
Standards-Version: 3.6.1.0
Build-Depends: mig (>= 1.3-2), gnumach-dev (>= 1:20060826.dfsg.1-1), texinfo, libncursesw5-dev, cdbs, debhelper (>= 4.2.0)
Build-Depends-Indep: texi2html
Uploaders: Jeff Bailey <jbailey@raspberryginger.com>, Marcus Brinkmann <brinkmd@debian.org>, Neal H. Walfield <neal@debian.org>, Michael Banck <mbanck@debian.org>

Package: hurd
Priority: required
Section: base
Essential: yes
Depends: gnumach (>= 1:20060826.dfsg.1-1), sysv-rc, ${shlibs:Depends}
Suggests: hurd-doc
Provides: makedev, login
Replaces: makedev, login
Conflicts: makedev, login
Architecture: hurd-i386
Description: The GNU Hurd
 This is the GNU Hurd package. It contains essential system software and
 libraries.

Package: hurd-dev
Priority: standard
Section: libdevel
Architecture: hurd-i386
Depends: hurd
Provides: libsem-dev
Replaces: libsem-dev
Conflicts: libsem-dev
Description: The GNU Hurd (development files)
 This package includes the header files and the static libraries.

Package: hurd-dbg
Priority: extra
Section: libdevel
Architecture: hurd-i386
Depends: hurd (= ${Source-Version})
Description: The GNU Hurd (debugging files)
 This package includes the unstripped binaries and libraries.

Package: hurd-doc
Priority: optional
Section: doc
Architecture: all
Suggests: hurd (= ${Source-Version})
Description: The GNU Hurd manual
 This package includes the manual in info and HTML format.

Package: hurd-udeb
XC-Package-Type: udeb
Priority: optional
Section: debian-installer
Architecture: hurd-i386
Description: The GNU Hurd - udeb
 This is the GNU Hurd udeb package. It contains essential system software and
 libraries.
