#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-
# Copyright © 2003 Jeff Bailey <jbailey@debian.org>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2, or (at
# your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
# 02111-1307 USA.

DEB_BUILDDIR = $(DEB_SRCDIR)/build

CC=gcc-4.2

include /usr/share/cdbs/1/rules/patchsys-quilt.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/class/autotools.mk

DEB_CONFIGURE_LIBEXECDIR ="\$${prefix}/libexec"
DEB_CONFIGURE_USER_FLAGS := --disable-profile --enable-static-progs='ext2fs,ufs,iso9660fs'
DEB_MAKE_INSTALL_TARGET = install prefix=$(DEB_DESTDIR) sysconfdir=$(DEB_DESTDIR)/etc localstatedir=$(DEB_DESTDIR)/var
DEB_DH_STRIP_ARGS := --dbg-package=hurd
DEB_INSTALL_CHANGELOGS_ALL := $(CURDIR)/debian/ChangeLog

build/hurd::
	cd $(DEB_BUILDDIR)/doc && texi2html -split chapter ../../doc/hurd.texi

	# assemble all ChangeLogs to one big file
	cd build-tree; for i in `find hurd/ -name "ChangeLog"`; do echo $$i:; cat $$i; echo;  done > $(CURDIR)/debian/ChangeLog

install/hurd::
	# runsystem is managed by update-alternatives
	mv debian/tmp/libexec/runsystem debian/tmp/libexec/runsystem.gnu

	# move away fakeroot, ps, uptime, vmstat and w to not conflict with the
	# ones  from other packages
	mv debian/tmp/bin/fakeroot debian/tmp/bin/fakeroot-hurd
	mv debian/tmp/bin/ps debian/tmp/bin/ps-hurd
	mv debian/tmp/bin/uptime debian/tmp/bin/uptime-hurd
	mv debian/tmp/bin/vmstat debian/tmp/bin/vmstat-hurd
	mv debian/tmp/bin/w debian/tmp/bin/w-hurd

	install -m664 debian/hurd-console.default debian/hurd/etc/default/hurd-console

	install -m664 build-tree/hurd/console/motd.UTF8 debian/hurd/etc/
	install -m664 build-tree/hurd/release/servers.boot debian/hurd/boot/

install/hurd-dev::
	install -m644 debian/local/soundcard.h debian/tmp/include/sys

SUID_PROGRAMS = /bin/ids /bin/login /bin/ps-hurd /bin/w-hurd

binary-predeb/hurd::
	chmod u+s $(patsubst %, $(CURDIR)/debian/$(cdbs_curpkg)%, $(SUID_PROGRAMS))

