#!/usr/bin/make -f
# -*- mode: makefile; coding: utf-8 -*-
# Copyright © 2003 Jeff Bailey <jbailey@debian.org>
#
# This program is free software; you can redistribute it and/or
# modify it under the terms of the GNU General Public License as
# published by the Free Software Foundation; either version 2, or (at
# your option) any later version.
#
# This program is distributed in the hope that it will be useful, but
# WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the GNU
# General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 59 Temple Place, Suite 330, Boston, MA
# 02111-1307 USA.

DEB_DESTDIR = $(CURDIR)/debian/tmp

CONFIGURE_ARGS = --disable-profile --enable-static-progs='ext2fs,ufs,iso9660fs'
SUID_PROGRAMS = /bin/ids /bin/login /bin/ps-hurd /usr/bin/w-hurd

CC=gcc-4.7

%:
	dh $@ -Bbuild --with autotools_dev

override_dh_auto_configure:
	dh_auto_configure -Bbuild -- $(CONFIGURE_ARGS) $(shell dpkg-buildflags --export=configure)

override_dh_auto_build:
	dh_auto_build -Bbuild
	cd build/doc && texi2html -split chapter ../../doc/hurd.texi
	$(MAKE) -C libdde_linux26 BUILDDIR=$(CURDIR)/build

override_dh_auto_clean:
	dh_auto_clean
	$(MAKE) -C libdde_linux26 cleanall
	rm -f $$(find libdde_linux26 -name \*.d)
	rm -fr libdde_linux26/build
	rm -fr libdde_linux26/lib/src/gen_crc32table libdde_linux26/lib/src/crc32table.h libdde_linux26/lib/src/timeconst.h

override_dh_auto_install:
	dh_auto_install -Bbuild --destdir= -- prefix=$(DEB_DESTDIR) sysconfdir=$(DEB_DESTDIR)/etc localstatedir=$(DEB_DESTDIR)/var XKB_BASE=$(DEB_DESTDIR)/usr/share/X11/xkb
	$(MAKE) -C libdde_linux26 INSTALLDIR=$(CURDIR)/debian/tmp/usr/share/libdde_linux26/build/include install

	# runsystem is managed by update-alternatives
	mv debian/tmp/lib/hurd/runsystem debian/tmp/lib/hurd/runsystem.gnu

	# move away fakeroot, ps, uptime, vmstat and w to not conflict with the
	# ones  from other packages
	mkdir -p debian/tmp/usr/bin
	mv debian/tmp/bin/fakeroot debian/tmp/usr/bin/fakeroot-hurd
	mv debian/tmp/bin/ps debian/tmp/bin/ps-hurd
	mv debian/tmp/bin/uptime debian/tmp/usr/bin/uptime-hurd
	mv debian/tmp/bin/vmstat debian/tmp/usr/bin/vmstat-hurd
	mv debian/tmp/bin/w debian/tmp/usr/bin/w-hurd

	# move away halt and reboot to not conflict with sysvinit
	# (they will be handled as alternatives)
	mv debian/tmp/sbin/halt debian/tmp/sbin/halt-hurd
	mv debian/tmp/sbin/reboot debian/tmp/sbin/reboot-hurd

	# remove PIC static libraries
	rm -f debian/tmp/lib/*_pic.a

override_dh_installinit:
	dh_installinit -phurd --name=hurd-console
	dh_installinit --remaining-packages

override_dh_strip:
	dh_strip -phurd --dbg-package=hurd-dbg
	dh_strip --remaining-packages

override_dh_fixperms:
	dh_fixperms
	chmod u+s $(patsubst %,$(CURDIR)/debian/hurd%,$(SUID_PROGRAMS))

override_dh_makeshlibs:
	dh_makeshlibs -phurd --add-udeb=hurd-udeb
	dh_makeshlibs --remaining-packages

